biblioback/src/main/resources/test.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://test.ws.biblioback.openclassrooms.com"
           targetNamespace="http://test.ws.biblioback.openclassrooms.com" elementFormDefault="qualified">


    <xs:element name="appUserGetByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="appUserGetByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="appUserGet" type="tns:appUser"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!--
     - Vérification id et mdp
	*	AppUser user
	**	String name
		String password
     -->

    <xs:element name="appUserValidityCheckRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="appUserValidityCheckResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:appUser"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--
- Entrée nouvel utilisateur
	*	Boolean confirmation
	**	String firstName
	    String name
		String email
		String password
		Boolean isAdmin
		-->

    <xs:element name="appUserAddRequest" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="isAdmin" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="appUserAddResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="confirmation" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- -->

    <xs:element name="appUserGetAllRequest" >
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="appUserGetAllResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="getAllAppUsers" type="tns:appUser"
                            minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- définition appUser-->

    <xs:complexType name="appUser">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="isAdmin" type="xs:boolean"/>
            <xs:element name="isEmployee" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <!--
     - Recherche d’un ouvrage par titre et nombre d’exemplaires dispos
	*	List<Book> books
	**	String title
     -->

    <xs:element name="bookGetRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="bookGetResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookGet" type="tns:book"
                            minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--
    - Recherche d’un ouvrage par id et nombre d’exemplaires dispos
	*	Book book
	**	int id
    -->

    <xs:element name="bookGetByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="bookGetByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookGet" type="tns:book"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--
     - Entrée d’un nouvel ouvrage et nombre exemplaires
	*	Boolean confirmation
	**	String title
		String authorName
		String authorFirstName
		String number
		-->

    <xs:element name="bookAddRequest" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="authorFirstName" type="xs:string"/>
                <xs:element name="authorName" type="xs:string"/>
                <xs:element name="number" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="bookAddResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="confirmation" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>





    <xs:element name="bookGetAllRequest" >
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="bookGetAllResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookGetAll" type="tns:book"
                            minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="book">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="authorName" type="xs:string"/>
            <xs:element name="authorFirstName" type="xs:string"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="number" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

    <!-- -->

    <xs:element name="borrowingGetRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="borrowingGetResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="borrowing" type="tns:borrowing"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--
- Enregistrement d’un nouvel emprunt
	*	int caseCode
	**	int bookId
		Date startDate
		-->

    <xs:element name="borrowingAddRequest" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="appUserId" type="xs:int"/>
                <xs:element name="bookId" type="xs:int"/>
                <xs:element name="startDate" type="xs:date" />
                <xs:element name="dueReturnDate" type="xs:date" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="borrowingAddResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="borrowing" type="tns:borrowing"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!--
- Prolongation (modification d’un emprunt)
   *	int codeError
   **	int borrowingId
   -->

    <xs:element name="borrowingExtendRequest" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="borrowingId" type="xs:int" />
                <xs:element name="newDueReturnDate" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="borrowingExtendResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="codeResp" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--
- Retour de prêt (modification emprunt)
   *	Boolean confirmation
   **	intBorrowingId
   -->
    <xs:element name="borrowingReturnRequest" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="borrowingReturnResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="confirmation" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--
- Liste des emprunts en cours de tous les utilisateurs
  *	List<Borrowing> borrowings
  **	no parameter
 -->

    <xs:element name="borrowingGetAllRequest" >
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="borrowingGetAllResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="borrowingGetAll" type="tns:borrowing"
                            minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!--
- Liste des emprunts en cours de l'utilisateur connecté
   *	List<Borrowing> borrowings
   **	no parameter
  -->

    <xs:element name="borrowingGetCurrentRequest" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="borrowingGetCurrentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="borrowingGetCurrent" type="tns:borrowing"
                            minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="borrowingGetExpiredRequest" >
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="borrowingGetExpiredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="borrowingGetExpired" type="tns:borrowing"
                            minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--
- Liste des emprunts prolongés
   * 	List<Borrowing> borrowings
   **	Boolean IsExtended
- Liste des emprunts non rendus à temps
   *
   -->
    <xs:element name="borrowingsDeleteByIdRequest" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="borrowingDeleteById" type="xs:int"
                            minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="borrowingsDeleteByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="borrowingDeleteById" type="xs:int"
                            minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="borrowingsConfirmationRequest" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="borrowingsConfirmationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="confirmation" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="borrowingsGetPanierRequest" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="borrowingsGetPanierResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="panier" type="tns:borrowing"
                            minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="status" final="restriction" >
        <xs:restriction base="xs:string">
            <xs:enumeration value="waitinglist" />
            <xs:enumeration value="ongoing" />
            <xs:enumeration value="none" />
            <xs:enumeration value="denied" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="borrowing">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="book" type="tns:book"/>
            <xs:element name="appUser" type="tns:appUser"/>
            <xs:element name="startDate" type="xs:date"/>
            <xs:element name="returnDate" type="xs:date" />
            <xs:element name="dueReturnDate" type="xs:date" />
            <xs:element name="status" type="tns:status" />
            <xs:element name="waitingListOrder" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="stateOfBorrowingRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookId" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="stateOfBorrowingResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="stateOfBorrowing" type="tns:stateOfBorrowing"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="stateOfBorrowing">
        <xs:sequence>
            <xs:element name="book" type="tns:book"/>
            <xs:element name="waitingListNumber" type="xs:int"/>
            <xs:element name="nextReturn" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>